$color_black: #64748b;

$color_grey: #4b5563;
$color_grey_light: #f1f5f9;
$color_grey_light-2: #cbd5e1;

$color_btn: #6ee7b7;

$color_primary: #0e7490;
$color_primary-secondary: #0369a1;
$color_primary-third: #06b6d4;
