body {
  font-weight: 400;
  font-family: 'Prompt', sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
}

.navigator_Page_list {
  font-size: 1.6rem;
  font-weight: 500;
}

.header_secondary {
  color: $color_primary;
}

.header_title {
  display: inline-block;
  color: $color_black;
}
