.member {
  grid-column: col_start/-1;
  height: 100vh;
  background-color: white;
  border-top-left-radius: 20px;
  box-shadow: 0 0 5px rgb(78, 78, 78);
  margin-left: -3.2rem;
  padding: 7rem;

  &_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.2rem;
  }

  &_register {
    &-btn {
      font-family: 'Prompt', sans-serif;
      display: inline-block;
      border: none;
      padding: 1.5rem 3.2rem;
      border-radius: 100rem;
      background-color: $color_btn;
      color: white;
      font-weight: 500;
    }
  }

  &_detail {
    width: 100%;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;

    &--header {
      background-color: $color_primary;
    }
    &--head {
      width: 25%;
      padding: 0.8rem 0;
    }

    &--body {
      color: $color_primary;
      text-align: center;
      width: 25%;
      padding: 0.8rem 0;
    }
    &-body--row:nth-child(even) {
      background-color: $color_grey_light;
    }
  }
}

table,
th,
td {
  border-collapse: collapse;
}
